*{
    padding:0;
    margin:0;
    font-family: "VT323", monospace;
    font-style: normal;
}

body{
    background-color: #c0c0c0;
    cursor:url("pointer.png"), auto;

}

a:hover{
    cursor:url("hand.png"),auto;
}

.topbar{
    background: rgb(0,1,88);
    background: linear-gradient(180deg, rgba(0,1,88,1) 0%, rgba(0,1,123,1) 17%, rgba(0,1,123,1) 91%, rgba(0,1,88,1) 100%);
    width:99%;
    height:36px;
    
    margin-top:5px;
    margin-left:4px;
}

.backbox{
    margin-top:5px;
    margin-left:35px;
    background-color: #c0c0c0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid transparent; 
    border-image: linear-gradient(180deg,white,rgb(15, 15, 15)) 1;
    width:95%;
    height: 500px;
}

.inside{
    background-color: black;
    width:97%; 
    height:460px; 
    margin:20px;
    box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.932);
    border: 1px solid rgb(255, 255, 255);    
}

.cont{
    font-size: 70px;
    color:white;
    cursor:url("image\ \(4\).png"), auto;

}

.content{
    margin-top:10px;
    margin-left: 20px;
}

